<h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>

Mentor Directory:
<table>
    {% for mentor in mentors %}
        <ul>
            <li>Name: {{ mentor.user.first_name }} {{ mentor.user.last_name }}</li>
            <li>Current Location: {{ mentor.current_location }}</li>
            <li>Linkedin URL: {{ mentor.linkedin_url }}</li>
            <li>Years of Relevant Experience: {{ mentor.mentorprofile.years_of_relevant_experience }}</li>
            <li>Career Summary: {{ mentor.mentorprofile.career_summary }}</li>
            <li><a href="{% url 'adviceapp:mentorprofile' mentor.id %}">View Profile</a></li>
        </ul>
    {% endfor %}
</table>

<a href="{% url 'adviceapp:mentordashboard' %}">DashBoard</a><br>
<a href="{% url 'adviceapp:logout' %}">Logout</a>