{% extends "adviceapp/base.html" %}

{% block content %}
<div class="container">
<h1 class="mtl">Hello {{ user.username }}</h1>

<div class="card-poster">
	<h2>Mentor List</h2>
</div>
<div class="card">
<ul class="feed-list">
{% for mentor in mentors %}
    <li><strong>{{ mentor.user.username }}</strong> is currently {{ mentor.status }}</li>
{% endfor %}
</ul>
</div><!--card-->

<div class="card-poster">
	<h2>Advice Types</h2>
</div>
<div class="card">
<ul class="feed-list">
{% for advice_and_mentor in advice_types %}
    <li>
      <strong>{{ advice_and_mentor.advice_type.name }}</strong> is being mentored by
      {% for m in advice_and_mentor.mentors %}
         {{ m.username }}
      {% endfor %}
    </li>
{% endfor %}
</ul>
</div><!--card-->

</div><!--container-->
{% endblock %}